.my-layout {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';
  grid-template-rows: 50px 1fr 25px;
  grid-template-columns: 200px 1fr;
}

.my-layout > header {
  grid-area: header;
  background-color: #8ca0ff;
}

.my-layout > nav {
  grid-area: nav;
  background-color: #ffa08c;
}

.my-layout > main {
  grid-area: main;
  background-color: #ffff64;
}

.my-layout > footer {
  grid-area: footer;
  background-color: #8cffa0;
}
